{{ partial "interior-header.html" . }}
{{ $baseurl := .Site.BaseUrl }}

<main>
    <section class="row"> 
        <div class="generic col-md-10">
          <h2 id="title">{{ .Title }}</h2>
          <article id="content">
             {{ .Content }}
          </article>
        </div><!-- generic col-md-10 -->
        
        {{ partial "interior-sidebar.html" . }}
        <div class="sidebar col-md-2">
                <h3>Sidebar Content</h3>
                <br />
                <p>Some sample text here for stuff</p>
            <br />
                <ul>
                <li>Lorem ipsum</li>
                <li>Dolor sit</li>
                <li>Amet lariet</li>
                <li>Lorem ipsum</li>
                <li>Dolor sit</li>
                <li>Amet lariet</li>
            </ul>
            <br />
            <p>Some sample text here for stuff</p>
            <br />
                <ul>
                <li>Lorem ipsum</li>
                <li>Dolor sit</li>
                <li>Amet lariet</li>
                <li>Lorem ipsum</li>
                <li>Dolor sit</li>
                <li>Amet lariet</li>
            </ul>
            <br />
            <p>Some sample text here for stuff</p>
            <br />
                <ul>
                <li>Lorem ipsum</li>
                <li>Dolor sit</li>
                <li>Amet lariet</li>
                <li>Lorem ipsum</li>
                <li>Dolor sit</li>
                <li>Amet lariet</li>
            </ul>
            <br />
        </div><!-- sidebar --> 
    </section>
</main>

{{ partial "interior-footer.html" . }}
