<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>GopherCon 2016</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="2016/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="2016/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="2016/css/theme-gophercon.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="2016/font/styles.css" rel="stylesheet" type="text/css" media="all"/>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    	<link href='https://fonts.googleapis.com/css?family=Bitter:400,400italic,700' rel='stylesheet' type='text/css'>
	</head>
    <body>
    	<div class="loader">
    		<div class="strip-holder">
				<div class="strip-1"></div>
				<div class="strip-2"></div>
				<div class="strip-3"></div>
    		</div>
    	</div>
			
			{{ partial "navbar.html" . }}