<div class="sidebar col-md-2">
    <h3>Sidebar Content</h3>
    <br />
    <p>Some sample text here for stuff</p>
    <br />
    <ul>
        <li>Lorem ipsum</li>
        <li>Dolor sit</li>
        <li>Amet lariet</li>
        <li>Lorem ipsum</li>
        <li>Dolor sit</li>
        <li>Amet lariet</li>
    </ul>
    <br />
    <p>Some sample text here for stuff</p>
    <br />
    <ul>
        <li>Lorem ipsum</li>
        <li>Dolor sit</li>
        <li>Amet lariet</li>
        <li>Lorem ipsum</li>
        <li>Dolor sit</li>
        <li>Amet lariet</li>
    </ul>
    <br />
    <p>Some sample text here for stuff</p>
    <br />
    <ul>
        <li>Lorem ipsum</li>
        <li>Dolor sit</li>
        <li>Amet lariet</li>
        <li>Lorem ipsum</li>
        <li>Dolor sit</li>
        <li>Amet lariet</li>
    </ul>
    <br />
</div><!-- sidebar --> 
