<div class="nav-container">
  <nav class="relative-nav">
    <div class="colors-container">
      <div class="colors">
        <div class="col-xs-2"></div>
        <div class="col-xs-2"></div>
        <div class="col-xs-2"></div>
        <div class="col-xs-2"></div>
        <div class="col-xs-2"></div>
        <div class="col-xs-2"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <img alt="Logo" class="logo logo-dark" src="/2016/img/gophercon2016-2.png">
        </div>
    
        <div class="col-md-10 text-right">
          <ul class="menu">
            <li><a class="inner-link" href="https://ti.to/gophercon/gophercon-2016">Tickets</a></li>
            <li><a class="inner-link" href="/code-of-conduct">Code of Conduct</a></li>
            <li><a class="inner-link" href="/speakers">Speakers</a></li>
            <li><a class="inner-link" href="/sessions">Sessions</a></li>
            <li><a class="inner-link" href="/sponsors">Sponsors</a></li>
          </ul>
          <div class="mobile-menu-toggle"><i class="icon icon_menu"></i></div>
        </div>
      </div>
    </div>
  </nav>
</div>
