<div class="nav-container">
	<nav class="overlay-nav">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<h2 alt="Logo" class="logo logo-light" style="color: #fff;">Gophercon</h2>
					<h2 alt="Logo" class="logo logo-dark" style="color: #333;">Gophercon</h2>
				</div>

				<div class="col-md-10 text-right">
					<ul class="menu">
						<li><a class="inner-link" href="#about-scroll">Single Link</a></li>
						<li class="has-dropdown"><a href="#"> <i class="fa fa-angle-down"></i> Dropdown</a>
							<ul class="nav-dropdown">
								<li><a href="#">Dropdown 1</a></li>
								<li><a href="#">Dropdown 2</a></li>
								<li><a href="#">Dropdown 3</a></li>
							</ul>
						</li>
						<li><a class="inner-link" href="#home">Single Link</a></li>
						<li class="social-link"><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li class="social-link"><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li class="social-link instagram-toggle"><a href="#" class="instagram-toggle-init"><i class="fa fa-instagram"></i></a></li>
					</ul>
					<div class="sidebar-menu-toggle"><i class="fa fa-bars"></i></div>
					<div class="mobile-menu-toggle"><i class="fa fa-bars"></i></div>

				</div>
			</div>
		</div>
	</nav>
</div>
