      <section class="sponsors">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 text-center">
                <h1>Proudly sponsored by</h1>
              </div>
            </div>


            {{ $sponsors := where .Site.Pages "Section" "sponsors" }}

            {{ $diamondSponsors := where $sponsors "Params.sponsorclass" "diamond" }}
            <div class="row">
              <div class="col-sm-12 diamond-sponsors">
                <div class="col-md-4 col-sm-4 text-center"> </div>
                {{ range first 3 $diamondSponsors }}
                <div class="col-md-4 col-sm-4 text-center">
                  <div class="sponsor">
                    <a href="{{ .Params.site }}">
                      <img alt="{{ .Title }}" src="{{ .Params.logo }}">
                    </a>
                  </div>
                </div>
                {{ end }}
              </div>
            </div>

            {{ $platinumSponsors := where $sponsors "Params.sponsorclass" "platinum" }}
            <div class="row">
              <div class="col-sm-12 platinum-sponsors">
                <div class="col-md-1 col-sm-1 text-center"> </div>
                {{ range first 5 $platinumSponsors }}
                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="{{ .Params.site }}">
                      <img alt="{{ .Title }}" src="{{ .Params.logo }}">
                    </a>
                  </div>
                </div>
                {{ end }}
              </div>
            </div>

            {{ $goldSponsors := where $sponsors "Params.sponsorclass" "gold" }}
            <div class="row">
              <div class="col-sm-12 gold-sponsors">
                <div class="col-md-1 col-sm-1 text-center"> </div>
                {{ range first 5 $goldSponsors }}
                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="{{ .Params.site }}">
                      <img alt="{{ .Title }}" src="{{ .Params.logo }}">
                    </a>
                  </div>
                </div>
                {{ end }}
              </div>
            </div>

            {{ $silverSponsors := where $sponsors "Params.sponsorclass" "silver" }}
            <div class="row">
              <div class="col-sm-12 silver-sponsors">
                <div class="col-md-1 col-sm-1 text-center"> </div>
                {{ range first 5 $silverSponsors }}
                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="{{ .Params.site }}">
                      <img alt="{{ .Title }}" src="{{ .Params.logo }}">
                    </a>
                  </div>
                </div>
                {{ end }}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 silver-sponsors">
                <div class="col-md-4 col-sm-5 text-center"> </div>
                {{ range first 5 (after 5 $silverSponsors) }}
                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="{{ .Params.site }}">
                      <img alt="{{ .Title }}" src="{{ .Params.logo }}">
                    </a>
                  </div>
                </div>
                {{ end }}
              </div>
            </div>

            {{ $bronzeSponsors := where $sponsors "Params.sponsorclass" "bronze" }}
            <div class="row">
              <div class="col-sm-12 bronze-sponsors">
                <div class="col-md-2 col-sm-2 text-center"> </div>
                {{ range first 10 $bronzeSponsors }}
                <div class="col-md-1 col-sm-1 text-center">
                  <div class="sponsor">
                    <a href="{{ .Params.site }}">
                      <img alt="{{ .Title }}" src="{{ .Params.logo }}">
                    </a>
                  </div>
                </div>
                {{ end }}
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 text-center">
                <span>Interested in becoming a sponsor? <a href="/Gophercon2016Prospectus.pdf">Get in touch</a></span>
              </div>
            </div>
          </div>
        </section>

