0.0.0.0:2015

git {
	repo https://github.com/gophercon/gc15
	branch master
	path gophercon
	then hugo -t gophercon --destination=/site-source/gophercon/public
}

root /site-source/gophercon/public

redir /questions http://dave.cheney.net/ 302

gzip
ext .html
log stdout
