/*-------------------- Schedule Styles --------------------*/
.schedule .nav-tabs.schedule-days {
  background: #40657c;
}

.schedule .nav-tabs.schedule-days>li {
  margin: 0;
  background-color: initial;
}

.schedule .nav-tabs.schedule-days>li a, .schedule .nav-tabs.schedule-days>li a:hover {
  padding: 10px 80px;
  margin: 0;
  color: #FFF;
  font-size: 15px;
  border: inherit;
  border-radius: inherit;
  background-color: initial;
  letter-spacing: 2px;
  font-weight: 500;
  line-height: 1.1;
  text-align: left;
}

.schedule .nav-tabs.schedule-days>li a span {
  font-weight: 800;
  font-size: 20px;
  display: block;
  margin-left: 5px;
}

.schedule .nav-tabs.schedule-days>li.active, .schedule .nav-tabs.schedule-days>li.active:hover {
  background-color: #4cc4ec;
  position: relative;
}

.schedule .nav-tabs.schedule-days>li.active::before, .schedule .nav-tabs.schedule-days>li.active::after {
  content: ' ';
  display: block;
  position: absolute;
  background-color: #4cc4ec;
  width: 100%;
  height: 15px;
  z-index: 1;
}

.schedule .nav-tabs.schedule-days>li.active::before {
  top: -10px;
}

.schedule .nav-tabs.schedule-days>li.active::after {
  bottom: -10px;
}

.schedule .schedule-tab {
  border: none;
  background-color: #fff;
}

.schedule .schedule-tab.tab-pane-subtabs {
  padding: 0px !important;
}

.schedule .schedule-tab.tab-pane{
  padding: 10px 20px;
}

.schedule .schedule-tab .nav-tabs>li.active, .schedule .schedule-tab .nav-tabs>li.active:hover {
  background-color: rgba(249, 181, 117, 0.21);
}

.schedule .schedule-tab .nav-tabs {
  background-color: #f6f6f4;
  border: none;
  z-index: 2;
}

.schedule .schedule-tab .nav-tabs>li, .schedule .schedule-tab .nav-tabs>li {
  width: 25%;
  padding: 10px;
  border: initial;
  margin: 0;
}

.schedule .schedule-tab .nav-tabs>li:hover, .schedule .schedule-tab .nav-tabs>li:hover {
  margin: 0;
  background-color: inherit;
}

.schedule .schedule-tab .nav-tabs>li a, .schedule .schedule-tab .nav-tabs>li a:hover {
  padding: 25px;
  margin: 0;
  font-size: 15px;
  border: inherit;
  border-radius: inherit;
  background-color: initial;
  letter-spacing: 2px;
  font-weight: 500;
  line-height: 1.1;
}

.schedule .schedule-item-tab {
  text-align: left;
}

.schedule .schedule-item-slot span {
  display: block;
  text-align: left;
}

.schedule .schedule-item .time {
  color: #4cc4ec;
  font-weight: 500;
  font-size: 20px;
}

.schedule .schedule-item-details {
  padding-left: 0;
}

.schedule .schedule-item-summary {
  color: #4cc4ec;
}

.schedule .schedule-item-summary a {
  color: #4cc4ec;
}

.schedule .schedule-item-details .abstract {
  padding: 0px; 10px;
}

.schedule .schedule-item-slot {
  color: #4cc4ec;
  padding: 10px;
}

.schedule-tab .schedule-item {
  margin-top: 25px;
}


.schedule .schedule-item .title, .schedule .schedule-item .title a {
  display: block;
  font-size: 20px;
  font-weight: 500;
}

.schedule .schedule-item .speaker .designation::before {
  content: ' - ';
}

.schedule2 h3 {
  color: #333;
  font-weight: 400;
  background-color: #f5f5f5;
  padding: 10px 25px;
  font-size: 18px;
  text-align: left;
  margin: 25px;
}
