{{ partial "header.html" . }}

<main class="container generic">

    <section class="row"> 
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-3">
						{{ $tmp := .LinkTitle }}
						{{ range .Params.speakerimage}}
         				 <img class="img-rounded avatar" src="{{.}}" alt="{{$tmp}}" width="150" />
						{{ end }}

				</div>
				<div class="col-md-9">

					<h3>{{.LinkTitle}}</h3>
					<small>
						{{ $speakers := .Params.author }}
						{{ $talks := .Params.speakerpage }}
						{{ range $index, $element := .Params.author }}
						<a href="{{ index $talks $index }}">{{ index $speakers $index }}</a>
						{{ end }}
				</a></small>
					{{.Content}}
				</div>
			</div>
        </div><!-- generic col-md-10 -->
        {{ partial "sidebar.html" . }}
    </section>
</main>

<main>
  {{ partial "sponsors.html" . }}
</main>
{{ partial "footer.html" . }}
