  {{ partial "header.html" . }}
    <body>
    	<div class="loader">
    		<div class="strip-holder">
				<div class="strip-1"></div>
				<div class="strip-2"></div>
				<div class="strip-3"></div>
    		</div>
    	</div>

    	
    	<a id="top"></a>
				
      <div class="nav-container"></div>
      <div class="main-container">
        <div class="row colors">
          <div class="col-xs-2"></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-2"></div>
        </div>
        <section class="hero-slider">
          <ul class="slides">
            <li class="video-header">
              <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image" src="2016/img/gallery/Gophercon-still-002.jpg">
              </div>
              
              <div class="video-wrapper">
                <video autoplay="" muted="" loop="">
                  <source src="2016/video/Gophercon Webloop.webm" type="video/webm">
                  <source src="2016/video/Gophercon Webloop.mp4" type="video/mp4">
                </video>
              </div>
            
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <img alt="logo" class="logo" src="2016/img/gophercon2016-2.png">
									  <span class="uppercase text-white">July 11th to 13th - Colorado Convention Center<br>Denver, Colorado</span>
                    <h1 class="large-h1 text-white">Largest event in the world dedicated to the Go programming language.</h1>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </section>
        
        <section class="color-blocks">
          <div class="color-block block-left col-md-6 col-sm-12"></div>
          <div class="color-block block-right col-md-6 col-sm-12"></div>
          
          <div class="container">
            <div class="row">
              <a href="https://ti.to/gophercon/gophercon-2016" class="block-content">
                <div class="col-md-2 col-sm-4 text-center">
                  <i>
                    <img class="icon" src="2016/img/icons/Starred Ticket-70.png" width="65" style="margin-top: -12px">
                  </i>
                </div>
              
                <div class="col-md-4 col-sm-8">
                  <h1>Need Tickets?</h1>
                  <p>
                    Get your tickets early and guarantee your entrance to the largest Go conference in the world.
                  </p>
                </div>
              </a>
              
              <a href="/Gophercon2016Prospectus.pdf" class="block-content">
                <div class="col-md-2 col-sm-4 text-center">
                  <i>
                    <img class="icon" src="2016/img/icons/Handshake-70.png" width="60" style="margin-top: -12px">
                  </i>
                </div>
              
                <div class="col-md-4 col-sm-8">
                  <h1>Interested in Sponsoring?</h1>
                  <p>Ensure that 2016 is the best to date and become a sponsor.</p>
                </div>
              </a>
            </div>
          </div>
        </section>
        <section class="contained-gallery">
          <div class="container">
            <div class="row">
              <div class="col-md-5">
                <h1>Why attend GopherCon?</h1>
                
                <p class="lead">
                  GopherCon 2015 built on the success of the inaugural conference and attracted 1,300 attendees up from 700 of 2014. This year, the conference will continue to grow and expand with an anticipated attendance of 1,500 professionals from more than 25 countries. Based on community feedback, we will continue to offer a single-track format in the morning, but will include various options in the afternoon based on each attendee’s knowledge level and interests.
                </p>
                
                <a href="https://ti.to/gophercon/gophercon-2016" class="btn"><i class="icons8-ticket"></i> Buy Tickets</a>
              </div>
              
              <div class="col-md-6 col-md-offset-1">
                <div class="embedded-video-holder vju">
                  <iframe width="100%" height="370" src="https://www.youtube.com/embed/616jvCSR0cg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="speakers">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h1>Speakers</h1>
              </div>
            </div>

            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/francesc-campoy-flores.jpg">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>Francesc Campoy Flores</h2>
                  <span class="sub">Understanding nil</span>
                  <p>Is it a constant?
                    A variable?
                    Where is it defined?
                    What is its type?
                    It has no type?
                    It has all the types? Those are usual questions that people learning Go ask and this talk answers all of them and more.</p>
                  <p>The talk covers the different contexts where nil is used, what it means, the gotchas to be aware of, and some patterns where nil becomes essential.</p>
                  <p>In parallel to the exploration of how nil can be used I will also discuss the origin and history of nil in those contexts.</p>
                  <div class="speaker-bio">
                    <p>Francesc Campoy Flores is a Developer Advocate for Go and the Cloud at Google. He joined the Go team in 2012 and since then he has written some considerable didactic resources and traveled the world attending conferences, organizing live courses, and meeting fellow gophers.</p>
                    <p>He joined Google in 2011 as a backend software engineer working mostly in C++ and Python, but it was with Go that he rediscovered how fun programming can be.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/jose-carlos-nieto.jpg">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>José Carlos Nieto</h2>
                  <span class="sub">Go Mobile as the backbone of Lantern for Android</span>
                  <p>Lantern is a circumvention tool that people can use to access the Open Internet without restrictions. Lantern uses Go on its desktop client, server infrastructure and on its Lantern Mobile application for phones.</p>
                  <p>We'll focus on Lantern Mobile: this talk begins with our experiences working with Go Mobile and ends on a list of gotchas and suggestions on how can you start writing backends for mobile apps as well.</p>
                  <div class="speaker-bio">
                    <p>José is a Mexican gopher who loves Open Source (https://github.com/xiam).
                    He helps coordinating the local Go users group (https://www.meetup.com/GophersMX/), works on different projects as a contractor and helps local students learn new technologies through a scholarship (https://menteslibres.io/).</p>
                    <p>The most popular Open Source project he has contributed to is Lantern (https://getlantern.org/). Lantern is a circumvention tool that people can use to access Internet without restrictions.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/ivan-danyliuk2.jpg">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>Ivan Danyliuk</h2>
                  <span class="sub">Visualizing Concurrency in Go</span>
                  <p>Concurrency in Go has been explained many times in a variety of articles, but there is time to explain it visually using the power of 3D modeling and animations.</p>
                  <p>I've built a tool that can visually represent concurrent Go programs using WebGL in a browser.</p>
                  <p>We'll watch common concurrency patterns in real time 3D animations and will learn visually how does parallelism differ from concurrency.</p>
                  <div class="speaker-bio">
                    <p>10+ years C/C++ developer, 3 years Go developer. presenter of Golangshow podcast, organizer of Ukrainian Golang Meetups.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/alan-donovan.jpg">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>Alan Donovan</h2>
                  <span class="sub">Navigating unfamiliar code with the Go Oracle</span>
                  <p>In this talk, I will present the Go oracle, an "editor-integrated tool for code comprehension and navigation".</p>
                  <p>This tool provides traditional editors such as Emacs, Vim, Sublime, and Atom with code navigation features not usually found outside a heavyweight IDE.</p>
                  <p>I'll demonstrate how to use it to answer the kinds of questions that come up all the time during a typical day of coding.</p>
                  <div class="speaker-bio">
                    <p>Alan Donovan is a Staff Engineer in Google's infrastructure division, specializing in software development tools.</p>
                    <p>Since 2012, he has been working on the Go team, designing libraries and tools for static analysis.</p>
                    <p>He is the author of the oracle, godoc -analysis, eg, and gorename tools and, with Brian Kernighan, the book The Go Programming Language (Addison-Wesley, 2015).</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/renee-french.jpg">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>Renee French</h2>
                  <span class="sub">The Go Gopher: A Character Study</span>
                  <p>Everyone is familiar with the Go Gopher but who is he really?
                    What is he thinking about?
                    What gets him motivated in the morning?
                    And how does he hold that Champagne glass?</p>

                  <p>Come to this talk and find out.</p>
                  <div class="speaker-bio">
                    <p>Creator and designer of the Go Gopher.
instagram.com/reneefrench</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/emily-big.png">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>Emily Gu</h2>
                  <span class="sub">The Power and Elegance of Reflection</span>
                  <p>Developers are often told reflection is bad and should be avoided.
                  However, when reflection can help reduce the amount of code needed to solve a problem, it should be considered.<p>
                  <p>Reducing complexity while preserving maintainability must always be a priority.
                  Reflection can be a tool that helps makes this possible.</p>
                  <p>In this talk I am going to show you the power and elegance of the reflection package.</p>
                  <div class="speaker-bio">
                    <p>Emily Gu currently works for Intel Corporation as a cloud software engineer in the Software Defined Infrastructure (SDI-X) group and is a graduate from East Carolina University.</p>
                    <p>Emily has been a software developer for over 15 years working on various system level projects. She has experience with Cloud and Big Data systems.</p>
                    <p>When Emily is not writing code, she can be found traveling the world looking for and indulging in tea.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/kelsey-hightower.jpg">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>Kelsey Hightower</h2>
                  <span class="sub">Building microservices with gRPC - A practical introduction</span>
                  <p>gRPC is a general RPC framework focused on performance and interoperability across a wide range of programming environments.</p>

                  <p>In this session we will demonstrate, through a series of live demos and code walkthroughs, how to design, build, and deploy a collection of microservices using gRPC from the ground up.</p>
                  <p>Key gRPC concepts will be covered including authenticating gRPC services and clients, service discovery, monitoring, and troubleshooting.</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/john-leon.png">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>John Leon</h2>
                  <span class="sub">Packet Capture, Analysis, and Injection with Go</span>
                  <p>Learn about packet capturing, analysis, manipulation and injection using the gopacket package. Useful for port scanning, monitoring, routing, and ensuring your network is secure.</p>
                  <p>The gopacket package provides several interfaces that let you work with existing network layers as well as the power to create your own layers.</p>
                  <div class="speaker-bio">
                    <p>John "NanoDano" Leon is currently an Application Security Architect with a background in software engineering.</p>
                    <p>His passion is creating practical tools related to the information security field as well as writing tutorials to help others on his website www.devdungeon.com.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/jack-lindamood.jpg">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>Jack Lindamood</h2>
                  <span class="sub">Practical advice for Go library authors</span>
                  <p>This talk will go in depth into the decisions popular existing libraries make about how to structure their code for users and the tradeoffs of different solutions.</p>
                  <p>Included is advice on the best way to write public libraries that are easy to use, test, configure, and extend.</p>
                  <div class="speaker-bio">
                    <p>Jack is a software engineer with over 7 years experience building and running large scale distributed services.<p>
                    <p>Starting at Facebook and currently at SignalFx, Jack now leads SignalFx's Go codebase and works on metrics instrumentation and ingest.</p>
                    <p>He has presented his work on Go debugging at GoSF and other meetups in the past.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/marcel-van-lohuizen.jpg">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>Marcel van Lohuizen</h2>
                  <span class="sub">Handling Text from Around the World in Go</span>
                  <p>Human languages are more often than not messy, inconsistent, and full of surprises.
                  Although this can make languages interesting, it is not something you want to deal with in your code.</p>
                  <p>The golang.org text repository provides a collection of packages for dealing with the intricacies of human languages at a high level.</p>
                  <p>This tutorial teaches the basic principles of dealing internationalization and localization in Go code and presents many of the high-level concepts you need to know.</p>
                  <div class="speaker-bio">
                    <p>Marcel van Lohuizen is a longtime Googler who works on the Go team, where he focuses on expanding Go’s text processing capabilities.</p>
                    <p>In the past he worked on search and Borg (Google’s large-scale cluster manager), among other things.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/michael-matloob.jpg">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>Michael Matloob</h2>
                  <span class="sub">CONTRIBUTING: The Talk</span>
                  <p>Interested in contributing to the Go Programming Language open source project, but don't know where to start?
                  Come learn how you can get involved and find something to work on.</p>
                  <p>If you're already contributing, come learn how to more effectively review CLs and help make the contribution process smoother for others.</p>
                  <div class="speaker-bio">
                    <p>Michael Matloob works on the Go team at Google in New York.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/bill-ofarrell.jpg">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>Bill O'Farrell</h2>
                  <span class="sub">Porting Go to the IBM z Architecture</span>
                  <p>At the IBM Linux on z Systems Open Source Ecosystem team, we have ported the Go language tooling (compiler, assembler, linker) to the Linux on z platform.</p>
                  <p>This tutorial will cover both the process we followed in doing so, some of the challenges we faced, and some of the performance hiccups and opportunities we encountered along the way.</p>
                  <p>The challenges included bootstrapping a compiler and runtime themselves written in the target language, designing a strategy for relocation, and finding ways to exploit z architecture strengths.</p>
                  <div class="speaker-bio">
                    <p>Bill O'Farrell is a member of the IBM Linux on z Systems Open Source Ecosystem, and team lead for the port of the Go compiler and tools to the z platform.</p>
                    <p>Bill has had a number of technical positions in IBM covering a range of technology.
He has a Ph.D. in Computer Science from Syracuse University.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/wisdom-omuya.jpg">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>Wisdom Omuya</h2>
                  <span class="sub">Go vendoring deconstructed</span>
                  <p>Vendoring has been a major struggle for Go developers. Many of us have had to vendor packages to build dependences into our projects - usually by performing ugly rewrites of import paths.</p>
                  <p>Go 1.5 introduced the GO15VENDOREXPERIMENT environment variable which simplifies this process and avoids those rewrites.</p>
                  <p>In this talk, I'll demonstrate why and how we switched to the vendor experiment at MongoDB, and I'll give practical advice on how you can use this feature in your projects.</p>
                  <div class="speaker-bio">
                    <p>Wisdom Omuya is a software engineer at MongoDB and has been using Go since 2013.</p>
                    <p>He has worked on a number of large scale projects using Go, an open-source continuous integration tool, Evergreen, and the MongoDB server tools.</p>
                    <p>Wisdom holds a Masters degree in Computer Science from Columbia University.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/katrina-owen.jpg">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>Katrina Owen</h2>
                  <span class="sub">Mind the Gap</span>
                  <p>How do you learn Go? First do the tour.
Then read the language spec.
Then write a lot of code.</p>
                  <p>This works for a lot of people, but for some the gap between the tour and the spec is a vast chasm.</p>

                  <p>In his GopherCon 2015 keynote, Russ Cox said: <q>Go needs everyone's help, and everyone isn't here.</q></p>
                  <p>This talk draws on two years of iterative exploration. It examines one way to bridge this gap, aiming to make Go accessible to a broader audience.</p>
                  <div class="speaker-bio">
                    <p>Katrina accidentally became a developer while pursuing a degree in molecular biology.</p>
                    <p>When programming, her focus is on automation, workflow optimization, and refactoring.</p>
                    <p>She works primarily in Go and Ruby, contributes to several open source projects, and is the creator of exercism.io.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/rob_pike.jpg">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>Rob Pike</h2>
                  <span class="sub">The Design of the Go Assembler</span>
                  <p>The Go assembler was rewritten for the 1.5 release, replacing a suite of C programs, one per architecture, with a single binary, written in Go, that supports all architectures.</p>
                  <p>The usual variables, <code>GOOS</code> and <code>GOARCH</code>, are sufficient to configure it for any environment.</p>

                  <p>This talk will explain how this extreme portability is achieved for such a non-portable problem.</p>
                  <p>The answer lies in the structure and origin of the Go compilation tool chain, a mostly machine-independent input language, and a lot of automation.</p>
                  <p>Even for non-assembling Gophers, there are lessons in the design.</p>
                  <div class="speaker-bio">
                    <p>Rob Pike works at Google and is a co-creator of Go.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/keith-randall.jpg">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>Keith Randall</h2>
                  <span class="sub">Inside the Map Implementation</span>
                  <p>Ever wondered how maps work in Go?
                  This talk will describe the current Go map implementation in detail and discuss some of the design tradeoffs.</p>
                  <p>I'll compare Go maps with maps in other languages, comparing the guarantees they provide and how that affects the implementations.</p>
                  <div class="speaker-bio">
                    <p>Keith Randall has been on the Go team at Google since 2013.</p>
                    <p>He's worked on Go maps, stack copying, compilers, and various performance issues.</p>
                    <p>Previously, Keith was the tech lead for Google Ads. Keith has a PhD in Computer Science from MIT.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/bernerd-schaefer.jpg">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>Bernerd Schaefer</h2>
                  <span class="sub">Go without the operating system</span>
                  <p>Go lets you to compile your program into stand-alone binaries which can be safely shared across systems without worrying about a missing dependency.</p>
                  <p>But there's one thing even a stand-alone executable depends on: the operating system. What if you could remove that dependency, too?</p>

                  <p>AtmanOS is a project built to explore that question.</p>
                  <p>It allows you to compile ordinary Go programs and run them on cloud providers like Amazon's EC2, without a traditional operating system.</p>

                  <p>Let's explore how it works, how to use it, and some considerations for putting it into production.</p>
                  <div class="speaker-bio">
                    <p>Bernerd leads the team at thoughtbot in Portland, where he helps clients build great digital products.</p>
                    <p>He prefers to spend his nights and weekends hiking in Forest Park and cooking up tasty meals at home, as well as hacking on personal projects like AtmanOS.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/raphael-simon.jpg">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>Raphael Simon</h2>
                  <span class="sub">goa: a new approach to microservice development in Go</span>
                  <p>This tutorial introduces a novel approach to building microservices in Go that uses code to describe the design of the service API.</p>
                  <p>The design is then fed to generation tools that produce not only actual service modules but also other outputs such as client Go packages, command line tools, Javascript and documentation via Swagger specifications and JSON schemas.</p>

                  <p>In this tutorial we will use goa to build a microservice from scratch complete with UI, client tool and documentation.</p>
                  <p>We’ll also take a look at how to leverage the goa request context at runtime to implement the API endpoint.</p>
                  <div class="speaker-bio">
                    <p>Raphael Simon is a Systems Architect at RightScale where he’s been designing many of the systems that make up the platform for the past 8 years.</p>
                    <p>Prior to that role Simon worked as a lead engineer at Eiffel Software on the Eiffel language compiler and libraries and as a principal engineer at Citrix on the GoTo line of products.</p>
                    <p>Simon received his MS in Computer Science and Applied Mathematics at ENSEEIHT, France.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/cindy-sridharan.jpg">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>Cindy Sridharan</h2>
                  <span class="sub">Building an origin cache for images</span>
                  <p>At Imgix, our multitiered caching layer forms an important components of our real­time image processing and delivery service. This talk will shed light on what necessitated the system and the architecture, how several of the language’s inbuilt constructs, newer features (like the library introduced in 1.5 which enabled us to do our own dns resolutions that helped replace nginx‘s own resolver in the old architecture) well as the tooling were used to design, implement and test the cache filling, eviction and purging logic, and more interestingly, our experience ‘productionizing this’, tuning the system to handle disparate traffic patterns, evaluating performance pre and post production, the mistakes made, challenges faced and lessons learned building this.</p>
                  <div class="speaker-bio">
                    <p>Cindy Sridharan learned Go in the fall of 2015 and currently works at Imgix where Go is used to build components of the origin cache.</p>
                    <p>She helped found the Women Who Go Bangalore chapter and organizes the Python Twisted and Lua meetups in San Francisco.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/george-tankersley.jpeg">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>George Tankersley</h2>
                  <span class="sub">Go crypto for developers</span>
                  <p>You've heard <q>don't implement your own crypto!</q> and taken it to heart. Great!</p>
                  <p>Go has very robust crypto packages. But even the standard library offers plenty of ways to make mistakes.</p>
                  <p>We'll talk you through the options and explain the right answers.</p>
                  <div class="speaker-bio">
                    <p>Reverse engineer turned pentester turned startup founder turned crypto dev.</p>
                    <p>Security at CoreOS by day; privacy tech by nights, weekends, and the occasional federal holiday.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/takuya-ueda.png">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>Takuya Ueda</h2>
                  <span class="sub">Go for Mobile Games</span>
                  <p>Go Mobile (golang.org/x/mobile) is a project which shows new possibilities for mobile apps development.</p>
                  <p>Especially, for mobile games which requires high performance processing, Go can be expected to be an alternative to C and C++.</p>
                  <p>This session explains how to develop game apps using some packages such as app, event and sprite provided by Go Mobile project.</p>
                  <p>Furthermore the session introduces a way to call Android API from Go codes, and solutions for some problems which occurs when we distribute apps on Google Play.</p>
                  <p>I would like to show current capabilities and future potentials of Go Mobile.</p>
                  <div class="speaker-bio">
                    <p>Game Developer in Japan. I love Go and Gopher.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/filippo-valsorda.jpg">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>Filippo Valsorda</h2>
                  <span class="sub">cgo: safely taming the beast</span>
                  <p>cgo is a powerful tool, but using it right becomes subtle when memory starts to be shared between C and Go.</p>
                  <p>Thankfully since Go 1.6 the rules to follow are clear and the cgo behavior well defined.</p>

                  <p>In this talk we will look at cgo's capabilities and functioning, understand the issues related to memory management and garbage collection, and learn to develop safely around them to build bindings, but also static binaries and even C libraries.</p>
                  <div class="speaker-bio">
                    <p>Filippo Valsorda does cryptography and systems engineering at CloudFlare.</p>
                    <p>He's the main developer of the pure-Go CloudFlare DNS server, and wrote its DNSSEC implementation.</p>
                    <p>He often writes about Go on the company blog, talks about security and programming, and builds small Go demos like the Heartbleed test and the whoami SSH server.</p>
                    <p>He once wrote about building Python modules in Go, and got the memory allocations wrong.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/carolyn-van-slyck.jpg">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>Carolyn Van Slyck</h2>
                  <span class="sub">Grow your users from an unlikely source: Windows developers</span>
                  <p>You may not realize it but there are a lot of Windows developers moving into your neighborhood.</p>
                  <p>They are using and contributing to open source projects, even those that aren't just for Windows.</p>
                  <p>But here's the rub: Often tools are written <q>Unix first</q>, shoehorning Windows support in later. This approach can shut out potential users.</p>

                  <p>Lucky for us, Go has strong support for cross-platform development. So let's start writing cross-platform first and welcome our Windows neighbors.</p>
                  <p>Learn some of the Windows quirks that you should take into account, and the Go goodies to help you conquer them.</p>
                  <div class="speaker-bio">
                    <p>Carolyn is a software developer from Chicago, though one day she hopes to escape to the Pacific Northwest in search of faster internet, free-range kittens and respite from snow blowers.</p>
                    <p>She loves all things automation, developer tools and anything that will make her fellow developers lives easier; so she's found a good home at Rackspace on the Developer Experience team.</p>
                    <p>Like a grafted bonsai, her roots come from many places: happily developing C# applications on a Mac and deploying to Linux.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="2016/img/speakers/whitenack1.jpg">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>Daniel Whitenack</h2>
                  <span class="sub">Go for data science</span>
                  <p>Trending languages for data science/engineering work are python and R, but can Go provide something special and relevant in this developing space?</p>
                  <p>The answer is definitely yes.</p>
                  <p>In this session, I will discuss several major go-based efforts in the field of data science and use cases for Go over python/R in a data processing context.</p>
                  <p>I will also discuss go-based data science workflows and tools, including Go notebooks, to help your get your feet wet.</p>
                  <div class="speaker-bio">
		    <p>Daniel is a Ph.D. trained data scientist who is interested in helping Go become a "go to" language for data science/engineering.</p>
		    <p>As a data consultant, Daniel helps his clients develop and deploy data-driven services using technologies such as Go and Docker.</p>
		    <p>These services include predictive analytics services, real-time dashboards, pricing optimizations, and more.</p>
		    <p>He enjoys contributing to the open source community, with projects like gophernotes, and mentoring data science students at Thinkful.</p>
		    <p>On twitter <a href="https://twitter.com/dwhitena">@dwhitena</a>.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="lightbox-gallery gallery-header">
          <div>
            <ul>
              <li style="background: url(&quot;2016/img/gallery/Gophercon-still-014.jpg&quot;) 50% 0%;">
                <a href="2016/img/gallery/Gophercon-still-014.jpg" data-lightbox="true" data-title="GopherCon 2015">
                  <img src="2016/img/gallery/Gophercon-still-014.jpg" style="opacity: 0;">
                </a>
              </li>
              <li style="background: url(&quot;2016/img/gallery/image_1.jpeg&quot;) 50% 0%;">
                <a href="2016/img/gallery/image_1.jpeg" data-lightbox="true" data-title="GopherCon 2015">
                  <img src="2016/img/gallery/image_1.jpeg" style="opacity: 0;">
                </a>
              </li>
              <li style="background: url(&quot;2016/img/gallery/Gophercon-still-011.jpg&quot;) 50% 0%;">
                <a href="2016/img/gallery/Gophercon-still-011.jpg" data-lightbox="true" data-title="GopherCon 2015">
                  <img src="2016/img/gallery/Gophercon-still-011.jpg" style="opacity: 0;">
                </a>
              </li>
              <li style="background: url(&quot;2016/img/gallery/Gophercon-still-012.jpg&quot;) 50% 0%;">
                <a href="2016/img/gallery/Gophercon-still-012.jpg" data-lightbox="true" data-title="GopherCon 2015">
                  <img src="2016/img/gallery/Gophercon-still-012.jpg" style="opacity: 0;">
                </a>
              </li>
              <li style="background: url(&quot;2016/img/gallery/Gophercon-still-015.jpg&quot;) 50% 0%;">
                <a href="2016/img/gallery/Gophercon-still-015.jpg" data-lightbox="true" data-title="GopherCon 2015">
                  <img src="2016/img/gallery/Gophercon-still-015.jpg" style="opacity: 0;">
                </a>
              </li>
              <li style="background: url(&quot;2016/img/gallery/Gophercon-still-018.jpg&quot;) 50% 0%;">
                <a href="2016/img/gallery/Gophercon-still-018.jpg" data-lightbox="true" data-title="GopherCon 2015">
                  <img src="2016/img/gallery/Gophercon-still-018.jpg" style="opacity: 0;">
                </a>
              </li>
              <li style="background: url(&quot;2016/img/gallery/image_3.jpeg&quot;) 50% 0%;">
                <a href="2016/img/gallery/image_3.jpeg" data-lightbox="true" data-title="GopherCon 2015">
                  <img src="2016/img/gallery/image_3.jpeg" style="opacity: 0;">
                </a>
              </li>
              <li style="background: url(&quot;2016/img/gallery/Gophercon-still-041.jpg&quot;) 50% 0%;">
                <a href="2016/img/gallery/Gophercon-still-041.jpg" data-lightbox="true" data-title="GopherCon 2015">
                  <img src="2016/img/gallery/Gophercon-still-041.jpg" style="opacity: 0;">
                </a>
              </li>
              <li style="background: url(&quot;2016/img/gallery/image_2.jpeg&quot;) 50% 0%;">
                <a href="2016/img/gallery/image_2.jpeg" data-lightbox="true" data-title="GopherCon 2015">
                  <img src="2016/img/gallery/image_2.jpeg" style="opacity: 0;">
                </a>
              </li>
              <li style="background: url(&quot;2016/img/gallery/Gophercon-still-005.jpg&quot;) 50% 0%;">
                <a href="2016/img/gallery/Gophercon-still-005.jpg" data-lightbox="true" data-title="GopherCon 2015">
                  <img src="2016/img/gallery/Gophercon-still-005.jpg" style="opacity: 0;">
                </a>
              </li>
            </ul>
          </div>
          
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h1 class="text-white large-h1">
                    <img class="icon" src="2016/img/icons/Camera-50.png" width="40" style="margin-right: 5px">
                  Memories from GopherCon 2015</h1>
                <span class="lead text-white">Watch talks from last year on <strong><a class="text-white" href="https://www.youtube.com/playlist?list=PL2ntRZ1ySWBf-_z-gHCOR2N156Nw930Hm">YouTube</a></strong></span>
              </div>
            </div><!--end of row-->
          </div><!--end of container-->
        </section>
        <section class="duplicatable-content visitor-info">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<h1>Hotel Accomodations</h1>
							</div>
						</div>
				
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="info-box">
                  <div class="hotel-price"><strong>$175</strong><small> / night, plus tax</small></div>
									<img alt="Hampton Inn" src="2016/img/hotels/hampton.jpg">
                  
									<h3 class="hotel-name">Hampton Inn<span class="hotel-phone">800.445.8667</span></h3>
                  <div class="hotel-code">Code: GopherCon</div>
                  <p class="hotel-address">
                    550 15th Street,<br>
                    Denver, CO 80202
                  </p>

									<div class="hotel-link text-link">
                    <a href="http://hamptoninn.hilton.com/en/hp/groups/personalized/D/DENCVHX-GOP-20160707/index.jhtml">Book Now</a>
                  </div>
								</div>
							</div>
					
							<div class="col-md-3 col-sm-6">
								<div class="info-box">
                  <div class="hotel-price"><strong>$185</strong><small> / night, plus tax</small></div>
									<img alt="Homewood Suites" src="2016/img/hotels/homewood.jpg">
									<h3 class="hotel-name">Homewood Suites<span class="hotel-phone">800.445.8667</span></h3>
                  <div class="hotel-code">Code: GopherCon</div>
									<p class="hotel-address">
                    550 15th Street,<br>
                    Denver, CO 80202
                  </p>
									<div class="hotel-link text-link">
                    <a href="http://homewoodsuites.hilton.com/en/hw/groups/personalized/D/DENDCHW-GOP-20160707/index.jhtml">Book Now</a>
                  </div>
								</div>
							</div>
					
							<div class="col-md-3 col-sm-6">
								<div class="info-box">
                  <div class="hotel-price"><strong>$185</strong><small> / night, plus tax</small></div>
									<img alt="Hyatt Place" src="2016/img/hotels/hyatt.jpg">
                  <h3 class="hotel-name">Hyatt Place<span class="hotel-phone">888.591.1234</span></h3>
                  <div class="hotel-code">Code: G-GO16</div>
									<p class="hotel-address">
										440 14th Street<br>
                    Denver, CO 80202
                  </p>
									<div class="hotel-link text-link">
                    <a href="http://denverdowntown.place.hyatt.com/en/hotel/home.html?corp_id=G-GO16">Book Now</a>
                  </div>
								</div>
							</div>

							<div class="col-md-3 col-sm-6">
								<div class="info-box">
                  <div class="hotel-price"><strong>$189</strong><small> / night, plus tax</small></div>
									<img alt="Hilton Garden Inn" src="2016/img/hotels/hiltongardeninn.jpg">
                  <h3 class="hotel-name">Hilton Garden Inn<span class="hotel-phone">855.215.1283</span></h3>
                  <div class="hotel-code">Code: GopherCon</div>
									<p class="hotel-address">
										1400 Welton Street<br>
                    Denver, CO 80202
                  </p>
									<div class="hotel-link text-link">
                    <a href="http://hiltongardeninn.hilton.com/en/gi/groups/personalized/D/DENDDGI-GOPHER-20160708/index.jhtml?WT.mc_id=POG">Book Now</a>
                  </div>
								</div>
							</div>
						</div>
					</div>
				</section>

        <section class="sponsors">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 text-center">
                <h1>Proudly sponsored by</h1>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 diamond-sponsors">
                <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 text-center">
                  <div class="sponsor">
                    <a href="http://www.google.com/">
                      <img alt="Google" src="2016/img/sponsors/diamond/google.png">
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 platinum-sponsors">
                <div class="col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 text-center">
                  <div class="sponsor">
                    <a href="http://www.twitch.tv/">
                      <img alt="Twitch" src="2016/img/sponsors/platinum/twitch.png">
                    </a>
                  </div>
                </div>

                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="https://www.compose.io/">
                      <img alt="Compose" src="2016/img/sponsors/platinum/compose.png" style="margin-left: 35px;">
                    </a>
                  </div>
                </div>

                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="https://www.verizon.com/">
                      <img alt="Verizon" src="2016/img/sponsors/platinum/verizon.png">
                    </a>
                  </div>
                </div>

                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="https://www.ardanlabs.com/">
                      <img alt="Ardan labs" src="2016/img/sponsors/platinum/ardan.png">
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 gold-sponsors">
                <div class="col-md-2 col-md-offset-4 col-sm-2 col-sm-offset-4 text-center">
                  <div class="sponsor">
                    <a href="https://www.minio.io/">
                      <img alt="Minio" src="2016/img/sponsors/gold/minio.png">
                    </a>
                  </div>
                </div>

                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="https://www.datadoghq.com/">
                      <img alt="Datadog" src="2016/img/sponsors/gold/datadog.png">
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 silver-sponsors">
                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="https://www.hashicorp.com/">
                      <img alt="HashiCorp" src="2016/img/sponsors/silver/hashicorp.png" style="max-width: 120px">
                    </a>
                  </div>
                </div>

                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="https://www.heroku.com/">
                      <img alt="Heroku" src="2016/img/sponsors/silver/heroku.png">
                    </a>
                  </div>
                </div>

                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="https://influxdata.com/">
                      <img alt="InfluxDB" src="2016/img/sponsors/silver/influx.png">
                    </a>
                  </div>
                </div>

                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="http://www.iron.io/">
                      <img alt="IronIO" src="2016/img/sponsors/silver/ironio.png" style="margin-top: -10px; max-width: 85px;">
                    </a>
                  </div>
                </div>

                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="http://www.comcast.com/">
                      <img alt="Comcast" src="2016/img/sponsors/silver/comcast.png" style="max-width: 180px; margin-top: -5px">
                    </a>
                  </div>
                </div>

                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="https://www.yikyak.com/home/">
                      <img alt="YikYak" src="2016/img/sponsors/silver/yikyak.png" style="">
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 bronze-sponsors">
                <div class="col-md-1 col-md-offset-5 col-sm-1 col-sm-offset-5 text-center">
                  <div class="sponsor">
                    <a href="https://www.docker.com/">
                      <img alt="Docker" src="2016/img/sponsors/bronze/docker.png">
                    </a>
                  </div>
                </div>

                <div class="col-md-1 col-sm-1 text-center">
                  <div class="sponsor">
                    <a href="http://www.crowdstrike.com/">
                      <img alt="CrowdStrike" src="2016/img/sponsors/bronze/crowdstrike.png">
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 text-center">
                <span>Interested in becoming a sponsor? <a href="/Gophercon2016Prospectus.pdf">Get in touch</a></span>
              </div>
            </div>
          </div>
        </section>
      </div>
  {{ partial "footer.html" . }}
