  {{ partial "header.html" . }}
    <body>
    	<div class="loader">
    		<div class="strip-holder">
				<div class="strip-1"></div>
				<div class="strip-2"></div>
				<div class="strip-3"></div>
    		</div>
    	</div>

    	
    	<a id="top"></a>
				
      <div class="nav-container"></div>
      <div class="main-container">
        <div class="row colors">
          <div class="col-xs-2"></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-2"></div>
        </div>
        <section class="hero-slider">
          <ul class="slides">
            <li class="video-header">
              <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image" src="2016/img/gallery/Gophercon-still-002.jpg">
              </div>
              
              <div class="video-wrapper">
                <video autoplay="" muted="" loop="">
                  <source src="2016/video/Gophercon Webloop.webm" type="video/webm">
                  <source src="2016/video/Gophercon Webloop.mp4" type="video/mp4">
                </video>
              </div>
            
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <img alt="logo" class="logo" src="2016/img/gophercon2016-2.png">
									  <span class="uppercase text-white">July 11th to 13th - Colorado Convention Center<br>Denver, Colorado</span>
                    <h1 class="large-h1 text-white">Largest event in the world dedicated to the Go programming language.</h1>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </section>
        
        <section class="color-blocks">
          <div class="color-block block-left col-md-6 col-sm-12"></div>
          <div class="color-block block-right col-md-6 col-sm-12"></div>
          
          <div class="container">
            <div class="row">
              <a href="https://ti.to/gophercon/gophercon-2016" class="block-content">
                <div class="col-md-2 col-sm-4 text-center">
                  <i>
                    <img class="icon" src="2016/img/icons/Starred Ticket-70.png" width="65" style="margin-top: -12px">
                  </i>
                </div>
              
                <div class="col-md-4 col-sm-8">
                  <h1>Need Tickets?</h1>
                  <p>
                    Get your tickets early and guarantee your entrance to the largest Go conference in the world.
                  </p>
                </div>
              </a>
              
              <a href="/Gophercon2016Prospectus.pdf" class="block-content">
                <div class="col-md-2 col-sm-4 text-center">
                  <i>
                    <img class="icon" src="2016/img/icons/Handshake-70.png" width="60" style="margin-top: -12px">
                  </i>
                </div>
              
                <div class="col-md-4 col-sm-8">
                  <h1>Interested in Sponsoring?</h1>
                  <p>Ensure that 2016 is the best to date and become a sponsor.</p>
                </div>
              </a>
            </div>
          </div>
        </section>
        <section class="contained-gallery">
          <div class="container">
            <div class="row">
              <div class="col-md-5">
                <h1>Why attend GopherCon?</h1>
                
                <p class="lead">
                  GopherCon 2015 built on the success of the inaugural conference and attracted 1,300 attendees up from 700 of 2014. This year, the conference will continue to grow and expand with an anticipated attendance of 1,500 professionals from more than 25 countries. Based on community feedback, we will continue to offer a single-track format in the morning, but will include various options in the afternoon based on each attendee’s knowledge level and interests.
                </p>
                
                <a href="https://ti.to/gophercon/gophercon-2016" class="btn"><i class="icons8-ticket"></i> Buy Tickets</a>
              </div>
              
              <div class="col-md-6 col-md-offset-1">
                <div class="embedded-video-holder vju">
                  <iframe width="100%" height="370" src="https://www.youtube.com/embed/616jvCSR0cg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </section>

           <section class="speakers">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h1>Speakers</h1>
              </div>
            </div>
	    {{ range $k, $v := where .Data.Pages "Section" "speakers" }}
            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
			  <img class="background-image" alt="Speaker" src="{{.Params.speakerimage}}">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
			<h2><a href="{{.Permalink}}">{{ .Title }}</a></h2>
		  <span class="sub"><a href="/sessions/{{.Params.session}}">{{ .Params.talk }}</a></span>

                </div>
              </div>
            </div>
	    {{ end }}

	  </div> <!-- container -->
        </section>

        
        <section class="lightbox-gallery gallery-header">
          <div>
            <ul>
              <li style="background: url(&quot;2016/img/gallery/Gophercon-still-014.jpg&quot;) 50% 0%;">
                <a href="2016/img/gallery/Gophercon-still-014.jpg" data-lightbox="true" data-title="GopherCon 2015">
                  <img src="2016/img/gallery/Gophercon-still-014.jpg" style="opacity: 0;">
                </a>
              </li>
              <li style="background: url(&quot;2016/img/gallery/image_1.jpeg&quot;) 50% 0%;">
                <a href="2016/img/gallery/image_1.jpeg" data-lightbox="true" data-title="GopherCon 2015">
                  <img src="2016/img/gallery/image_1.jpeg" style="opacity: 0;">
                </a>
              </li>
              <li style="background: url(&quot;2016/img/gallery/Gophercon-still-011.jpg&quot;) 50% 0%;">
                <a href="2016/img/gallery/Gophercon-still-011.jpg" data-lightbox="true" data-title="GopherCon 2015">
                  <img src="2016/img/gallery/Gophercon-still-011.jpg" style="opacity: 0;">
                </a>
              </li>
              <li style="background: url(&quot;2016/img/gallery/Gophercon-still-012.jpg&quot;) 50% 0%;">
                <a href="2016/img/gallery/Gophercon-still-012.jpg" data-lightbox="true" data-title="GopherCon 2015">
                  <img src="2016/img/gallery/Gophercon-still-012.jpg" style="opacity: 0;">
                </a>
              </li>
              <li style="background: url(&quot;2016/img/gallery/Gophercon-still-015.jpg&quot;) 50% 0%;">
                <a href="2016/img/gallery/Gophercon-still-015.jpg" data-lightbox="true" data-title="GopherCon 2015">
                  <img src="2016/img/gallery/Gophercon-still-015.jpg" style="opacity: 0;">
                </a>
              </li>
              <li style="background: url(&quot;2016/img/gallery/Gophercon-still-018.jpg&quot;) 50% 0%;">
                <a href="2016/img/gallery/Gophercon-still-018.jpg" data-lightbox="true" data-title="GopherCon 2015">
                  <img src="2016/img/gallery/Gophercon-still-018.jpg" style="opacity: 0;">
                </a>
              </li>
              <li style="background: url(&quot;2016/img/gallery/image_3.jpeg&quot;) 50% 0%;">
                <a href="2016/img/gallery/image_3.jpeg" data-lightbox="true" data-title="GopherCon 2015">
                  <img src="2016/img/gallery/image_3.jpeg" style="opacity: 0;">
                </a>
              </li>
              <li style="background: url(&quot;2016/img/gallery/Gophercon-still-041.jpg&quot;) 50% 0%;">
                <a href="2016/img/gallery/Gophercon-still-041.jpg" data-lightbox="true" data-title="GopherCon 2015">
                  <img src="2016/img/gallery/Gophercon-still-041.jpg" style="opacity: 0;">
                </a>
              </li>
              <li style="background: url(&quot;2016/img/gallery/image_2.jpeg&quot;) 50% 0%;">
                <a href="2016/img/gallery/image_2.jpeg" data-lightbox="true" data-title="GopherCon 2015">
                  <img src="2016/img/gallery/image_2.jpeg" style="opacity: 0;">
                </a>
              </li>
              <li style="background: url(&quot;2016/img/gallery/Gophercon-still-005.jpg&quot;) 50% 0%;">
                <a href="2016/img/gallery/Gophercon-still-005.jpg" data-lightbox="true" data-title="GopherCon 2015">
                  <img src="2016/img/gallery/Gophercon-still-005.jpg" style="opacity: 0;">
                </a>
              </li>
            </ul>
          </div>
          
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h1 class="text-white large-h1">
                    <img class="icon" src="2016/img/icons/Camera-50.png" width="40" style="margin-right: 5px">
                  Memories from GopherCon 2015</h1>
                <span class="lead text-white">Watch talks from last year on <strong><a class="text-white" href="https://www.youtube.com/playlist?list=PL2ntRZ1ySWBf-_z-gHCOR2N156Nw930Hm">YouTube</a></strong></span>
              </div>
            </div><!--end of row-->
          </div><!--end of container-->
        </section>
        <section class="duplicatable-content visitor-info">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<h1>Hotel Accomodations</h1>
							</div>
						</div>
				
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="info-box">
                  <div class="hotel-price"><strong>$175</strong><small> / night, plus tax</small></div>
									<img alt="Hampton Inn" src="2016/img/hotels/hampton.jpg">
                  
									<h3 class="hotel-name">Hampton Inn<span class="hotel-phone">800.445.8667</span></h3>
                  <div class="hotel-code">Code: GopherCon</div>
                  <p class="hotel-address">
                    550 15th Street,<br>
                    Denver, CO 80202
                  </p>

									<div class="hotel-link text-link">
                    <a href="#">Sold Out!</a>
                  </div>
								</div>
							</div>
					
							<div class="col-md-3 col-sm-6">
								<div class="info-box">
                  <div class="hotel-price"><strong>$185</strong><small> / night, plus tax</small></div>
									<img alt="Homewood Suites" src="2016/img/hotels/homewood.jpg">
									<h3 class="hotel-name">Homewood Suites<span class="hotel-phone">800.445.8667</span></h3>
                  <div class="hotel-code">Code: GopherCon</div>
									<p class="hotel-address">
                    550 15th Street,<br>
                    Denver, CO 80202
                  </p>
									<div class="hotel-link text-link">
                    <a href="http://homewoodsuites.hilton.com/en/hw/groups/personalized/D/DENDCHW-GOP-20160707/index.jhtml">Book Now</a>
                  </div>
								</div>
							</div>
					
							<div class="col-md-3 col-sm-6">
								<div class="info-box">
                  <div class="hotel-price"><strong>$185</strong><small> / night, plus tax</small></div>
									<img alt="Hyatt Place" src="2016/img/hotels/hyatt.jpg">
                  <h3 class="hotel-name">Hyatt Place<span class="hotel-phone">888.591.1234</span></h3>
                  <div class="hotel-code">Code: G-GO16</div>
									<p class="hotel-address">
										440 14th Street<br>
                    Denver, CO 80202
                  </p>
									<div class="hotel-link text-link">
                    <a href="http://denverdowntown.place.hyatt.com/en/hotel/home.html?corp_id=G-GO16">Book Now</a>
                  </div>
								</div>
							</div>

							<div class="col-md-3 col-sm-6">
								<div class="info-box">
                  <div class="hotel-price"><strong>$189</strong><small> / night, plus tax</small></div>
									<img alt="Hilton Garden Inn" src="2016/img/hotels/hiltongardeninn.jpg">
                  <h3 class="hotel-name">Hilton Garden Inn<span class="hotel-phone">855.215.1283</span></h3>
                  <div class="hotel-code">Code: GopherCon</div>
									<p class="hotel-address">
										1400 Welton Street<br>
                    Denver, CO 80202
                  </p>
									<div class="hotel-link text-link">
                    <a href="http://hiltongardeninn.hilton.com/en/gi/groups/personalized/D/DENDDGI-GOPHER-20160708/index.jhtml?WT.mc_id=POG">Book Now</a>
                  </div>
								</div>
							</div>
						</div>
					</div>
				</section>

        <section class="sponsors">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 text-center">
                <h1>Proudly sponsored by</h1>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 diamond-sponsors">
                <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 text-center">
                  <div class="sponsor">
                    <a href="http://www.google.com/">
                      <img alt="Google" src="2016/img/sponsors/diamond/google.png">
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 platinum-sponsors">
                <div class="col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 text-center">
                  <div class="sponsor">
                    <a href="http://www.twitch.tv/">
                      <img alt="Twitch" src="2016/img/sponsors/platinum/twitch.png">
                    </a>
                  </div>
                </div>

                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="https://www.compose.io/">
                      <img alt="Compose" src="2016/img/sponsors/platinum/compose.png" style="margin-left: 35px;">
                    </a>
                  </div>
                </div>

                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="https://www.verizon.com/">
                      <img alt="Verizon" src="2016/img/sponsors/platinum/verizon.png">
                    </a>
                  </div>
                </div>

                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="https://www.ardanlabs.com/">
                      <img alt="Ardan labs" src="2016/img/sponsors/platinum/ardan.png">
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 gold-sponsors">
                <div class="col-md-2 col-md-offset-4 col-sm-2 col-sm-offset-4 text-center">
                  <div class="sponsor">
                    <a href="https://www.minio.io/">
                      <img alt="Minio" src="2016/img/sponsors/gold/minio.png">
                    </a>
                  </div>
                </div>

                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="https://www.datadoghq.com/">
                      <img alt="Datadog" src="2016/img/sponsors/gold/datadog.png">
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 silver-sponsors">
                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="https://www.hashicorp.com/">
                      <img alt="HashiCorp" src="2016/img/sponsors/silver/hashicorp.png" style="max-width: 120px">
                    </a>
                  </div>
                </div>

                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="https://www.heroku.com/">
                      <img alt="Heroku" src="2016/img/sponsors/silver/heroku.png">
                    </a>
                  </div>
                </div>

                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="https://influxdata.com/">
                      <img alt="InfluxDB" src="2016/img/sponsors/silver/influx.png">
                    </a>
                  </div>
                </div>

                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="http://www.iron.io/">
                      <img alt="IronIO" src="2016/img/sponsors/silver/ironio.png" style="margin-top: -10px; max-width: 85px;">
                    </a>
                  </div>
                </div>

                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="http://www.comcast.com/">
                      <img alt="Comcast" src="2016/img/sponsors/silver/comcast.png" style="max-width: 180px; margin-top: -5px">
                    </a>
                  </div>
                </div>

                <div class="col-md-2 col-sm-2 text-center">
                  <div class="sponsor">
                    <a href="https://www.yikyak.com/home/">
                      <img alt="YikYak" src="2016/img/sponsors/silver/yikyak.png" style="">
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 bronze-sponsors">
                <div class="col-md-1 col-md-offset-5 col-sm-1 col-sm-offset-5 text-center">
                  <div class="sponsor">
                    <a href="https://www.docker.com/">
                      <img alt="Docker" src="2016/img/sponsors/bronze/docker.png">
                    </a>
                  </div>
                </div>

                <div class="col-md-1 col-sm-1 text-center">
                  <div class="sponsor">
                    <a href="http://www.crowdstrike.com/">
                      <img alt="CrowdStrike" src="2016/img/sponsors/bronze/crowdstrike.png">
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 text-center">
                <span>Interested in becoming a sponsor? <a href="/Gophercon2016Prospectus.pdf">Get in touch</a></span>
              </div>
            </div>
          </div>
        </section>
      </div>
  {{ partial "footer.html" . }}
