{{ partial "header.html" . }}

{{ $data := .Data }}

<main>
    <section class="row"> 
		<div class="sponsors col-md-10">
			{{ $diamonds := $data.Get "diamond" }}
			{{  $diamonds }}
			<div class="col-md-12 diamond">
				<img class="icon" src="/images/diamond.png" />
			<h1>	<a href="">SPONSORS</a> </h1>
                <div class="clearfix"></div>
			</div>

        </div><!-- sponsors col-md-10 -->

        {{ partial "sidebar.html" . }}
        
    </section>
</main>

{{ partial "footer.html" . }}
