{{ partial "header.html" . }}

<main class="container generic">

    <section class="row"> 
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-3">
          <img class="img-rounded avatar" src="{{.Params.speakerimage}}" alt="{{.LinkTitle}}" width="150" />
        <div class="speaker-social">
          <a href="{{.Params.twitter}}"><i class="fa fa-twitter"></i></a>
          <a href="{{.Params.github}}"><i class="fa fa-github"></i></a>
          <a href="{{.Params.linkedin}}"><i class="fa fa-linkedin"></i></a>
        </div>
				</div>
				<div class="col-md-9">
          <h3>{{.LinkTitle}}<br /><small>{{.Params.speakertitle}}</small></h3>
		  		{{.Content}}
					<h4><a href="{{ .Params.talk }}">View Talk</a></h4>
				</div>
			</div>
        </div><!-- generic col-md-10 -->
        {{ partial "sidebar.html" . }}
    </section>
</main>

<main>
  {{ partial "sponsors.html" . }}
</main>
{{ partial "footer.html" . }}
