{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseUrl }}

<main class="container generic">

    <section class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-3">
          <img class="img-rounded avatar" src="{{.Params.speakerimage}}" alt="{{.LinkTitle}}" width="150" />
          <div class="speaker-social">
            {{ with .Params.twitter }}
            <a href="{{.}}"><i class="fa fa-twitter"></i></a>
            {{ end }}
            {{ with .Params.github }}
            <a href="{{.}}"><i class="fa fa-github"></i></a>
            {{ end }}
            {{ with .Params.linkedin }}
            <a href="{{.}}"><i class="fa fa-linkedin"></i></a>
            {{ end }}
          </div>
				</div>
				<div class="col-md-9">
          <h3>{{.LinkTitle}}<br /><small>{{.Params.speakertitle}}</small></h3>
		  		{{.Content}}
					<h4><a href="{{ .Params.talk }}">View Talk</a></h4>
				</div>
			</div>
        </div><!-- generic col-md-10 -->
        {{ partial "sidebar.html" . }}
    </section>
</main>

<main>
  {{ partial "sponsors.html" . }}
</main>
{{ partial "footer.html" . }}
