{{ partial "header.html" . }}

<main class="container generic">

    <section class="row"> 
		<div class="col-md-8">
			<div class="well">
			<div class="row">
				<div class="col-md-5">
				<img class="img-thumbnail" src="{{.Params.speakerimage}}" alt="{{.LinkTitle}}"/>
				<h5>{{.LinkTitle}}</h5>
				<em>{{.Params.speakertitle}}</em><br/>
					<div>
            <a href="{{.Params.twitter}}"><i class="fa fa-twitter"></i></a>
            <a href="{{.Params.github}}"><i class="fa fa-github"></i></a>
            <a href="{{.Params.linkedin}}"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
				<div class="col-md-6">
					{{.Content}}
				</div>
			</div>
			</div>
        </div><!-- generic col-md-10 -->
        {{ partial "sidebar.html" . }}
    </section>
</main>

{{ partial "footer.html" . }}{ partial "interior-footer.html" . }}
