{{ partial "header.html" . }}


<main>
    <section class="row"> 
		<div class="generic col-md-9">
			<h3>GopherCon News</h3>
			{{ range .Paginator.Pages }}
			<div class="well">
		
				<h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
				<small>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</small><br/><br/>
				{{ .Summary }}
				{{ if .Truncated }} <br/><br/>
    				<a class="btn btn-primary" href="{{ .RelPermalink }}">Read More…</a>
				{{ end }}
			</div>
			{{ end }}

			{{ template "_internal/pagination.html" . }}
		</div>
        {{ partial "sidebar.html" . }}
    </section>
</main>

{{ partial "footer.html" . }}
