{{ partial "header.html" . }}


<main class="container generic">
    <section class="row"> 
        <div class="col-md-8">
          <h2>Schedule</h2>
          {{ range (.Data.Pages).Reverse }}
            <h3><a href="{{ .RelPermalink }}">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</a></h3>
            {{ .Summary }}
            {{ if .Truncated }} <br/><br/>
            <a class="readmore" href="{{ .RelPermalink }}">Read More <i class="fa fa-arrow-circle-right"></i></a>
            {{ end }}
          {{ end }}
        </div>

    </section>
</main>
<main>
  {{ partial "sponsors.html" . }}
</main>
{{ partial "footer.html" . }}
