{{ partial "header.html" . }}

 <body>

    	
    	<a id="top"></a>
				
        <section class="speakers">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h1>Sessions</h1>
              </div>
            </div>
          {{ range .Data.Pages }}
            <div class="row">
              <div class="speaker-with-bio">
                <div class="speaker col-md-3">
                  <div class="image-holder">
                    <img class="background-image" alt="Speaker" src="{{.Params.speakerimage}}">
                    <div class="hover-state text-center preserve3d">
                    </div>
                  </div>
                </div>
    
                <div class="speaker-description col-md-9">
                  <h2>{{ .Params.talk }}</h2>
                  <span class="sub">{{ .Title }}</span>
			{{.Content}}
                  </div>
                </div>
              </div>

          {{ end }}

            </div>
          </div>
        </section>
 
{{ partial "sponsors.html" . }}

        </div>
</main>


{{ partial "footer.html" . }}

