{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
{{ $pages := .Data.Pages }}
<section class="row"> 
  <main class="container generic">
    <div class="col-md-9 main">
      {{ range $pages }}
        {{ if isset .Params "sponsorlevels" }} 
          {{ range $i, $sponsorlevel := .Params.sponsorlevels }}
          {{ if gt $i 0 }}
          <hr>
          {{ end }}
          <div class="row">
            <h2>{{ $sponsorlevel | title}} Sponsors</h2>
            {{ range $pages }}
              {{ if eq $sponsorlevel .Params.sponsorclass}} 	
                <div class="col-md-4 {{ $sponsorlevel }}">
                  <a href="{{ .Permalink}}"><img src="{{ .Params.logo }}" /></a>
                </div>
              {{ end }}
            {{ end }}
          </div>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
    {{ partial "sidebar.html" . }}
  </main>
</section>


{{ partial "footer.html" . }}
