
                <div id="workshop-schedule" class="tab-pane schedule-tab active tab-pane-subtabs">
                  <ul class="nav nav-tabs">
                    <li role="presentation" class="active">
                      <a data-toggle="tab" href="#registration-schedule">General</a>
                    </li>
                    <li role="presentation" class="">
                      <a data-toggle="tab" href="#ultimate-go-schedule">Ultimate Go Workshop</a>
                    </li>
                    <li role="presentation" class="">
                      <a data-toggle="tab" href="#advanced-go-schedule">Advanced Go Workshop</a>
                    </li>
                    <li role="presentation" class="">
                      <a data-toggle="tab" href="#building-api-schedule">Building an HTTP-based API with Go</a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div id="registration-schedule" class="schedule-tab schedule-item-tab active tab-pane">
                      <div class="row schedule-item">
                        <div class="col-md-3 schedule-item-slot">
                          <span class="time">12:00pm - 6:00pm</span>
                          <span class="location">Grand Concourse</span>
                        </div>
                        <div class="col-md-9 schedule-item-details">
                          <div class="schedule-item-summary">
                            <span class="title">Conference Registration</span>
                          </div>
                        </div>
                      </div>
                      <div class="row schedule-item">
                        <div class="col-md-3 schedule-item-slot">
                          <span class="time">12:00am - 6:00pm</span>
                          <span class="location">Exhibit Hall</span>
                        </div>
                        <div class="col-md-9 schedule-item-details">
                          <div class="schedule-item-summary">
                            <span class="title">Sponsor/Exhibitor Move-in</span>
                          </div>
                        </div>
                      </div>
                      <div class="row schedule-item">
                        <div class="col-md-3 schedule-item-slot">
                          <span class="time">6:00pm</span>
                          <span class="location">Wynkoop Brewing Company</span>
                        </div>
                        <div class="col-md-9 schedule-item-details">
                          <div class="schedule-item-summary">
                            <span class="title">GopherCon 2016 Kickoff Party</span>
                          </div>
                          <div class="abstract">
                            <p>Join the Denver Go Meetup group to kickoff Gophercon 2016 in style! </p>
                            <p><a href="http://www.meetup.com/Denver-Go-Language-User-Group/events/229341754/">Event Details</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="ultimate-go-schedule" class="schedule-tab schedule-item-tab tab-pane ">
                      <div class="row schedule-item">
                        <div class="col-md-3 schedule-item-slot">
                          <span class="time">7:30am - 9:30am</span>
                          <span class="location">500's Corridor</span>
                        </div>
                        <div class="col-md-9 schedule-item-details">
                          <div class="schedule-item-summary">
                            <span class="title">Workshop Registration</span>
                          </div>
                        </div>
                      </div>
                      <div class="row schedule-item">
                        <div class="col-md-3 schedule-item-slot">
                          <span class="time">9:00am - 5:00pm</span>
                          <span class="location">Room 501</span>
                        </div>
                        <div class="col-md-9 schedule-item-details">
                          <div class="schedule-item-summary">
                            <span class="title">Ultimate Go Workshop</span>
                            <div class="speaker">
                              <span class="name">TBD</span>
                              <span class="designation">Ardan Labs</span>
                            </div>
                          </div>
                          <div class="abstract">
                            <p>If you are new to Go or have only been coding for less than a year, then this class is for you. Take a 7 hour tour of Go learning the specification, implementation and idioms to help make you a better Go developer. The class is going to be dense and fast paced. If you love the Go In Action book, this class makes it come to life. <br/><br/> Language Syntax<br/> Arrays, Slices and Maps<br/> Methods, Interfaces and Embedding<br/> Concurrency, Channels <br/><br/></p>
                            <p>
                              <strong>Teacher:</strong>TBD 
                          </div>
                        </div>
                      </div>
                      <div class="row schedule-item">
                        <div class="col-md-3 schedule-item-slot">
                          <span class="time">12:00pm - 1:00pm</span>
                          <span class="location">Room 501</span>
                        </div>
                        <div class="col-md-9 schedule-item-details">
                          <div class="schedule-item-summary">
                            <span class="title">Break</span>
                            <div class="speaker">
                              <span class="name">In-Room Lunch</span>
                            </div>
                          </div>
                          <div class="abstract">
                            <p>Catered lunch will be provided in the training room. Beverage service will be continuous throughout the day.</p>
                          </div>
                        </div>
                      </div>
                      <div class="row schedule-item">
                        <div class="col-md-3 text-right">
                          <img src="/images/temp-logos/ardan.png" width="100" />
                        </div>
                        <div class="col-md-9">
                          <p>The Ultimate Go Workshop is an all day workshop to get you up and running with Go provided by
                            <a href="https://ardanlabs.com">Ardan Labs.</a>Tickets for this workshop can be purchased at an additional cost.</p>
                          <a href="https://ti.to/gophercon/gophercon-2016" class="btn btn-orange"
                          target="_blank">Purchase Tickets <span  class="fa fa-arrow-circle-right"></span></a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div id="advanced-go-schedule" class="schedule-tab schedule-item-tab tab-pane">
                      <div class="row schedule-item">
                        <div class="col-md-3 schedule-item-slot">
                          <span class="time">7:30am - 9:30am</span>
                          <span class="location">500's Corridor</span>
                        </div>
                        <div class="col-md-9 schedule-item-details">
                          <div class="schedule-item-summary">
                            <span class="title">Workshop Registration</span>
                          </div>
                        </div>
                      </div>
                      <div class="row schedule-item">
                        <div class="col-md-3 schedule-item-slot">
                          <span class="time">9:00am - 5pm</span>
                          <span class="location">Room 503</span>
                        </div>
                        <div class="col-md-9 schedule-item-details">
                          <div class="schedule-item-summary">
                            <span class="title">Advanced Go Workshop</span>
                            <div class="speaker">
                              <span class="name">TBD</span>
                              <span class="designation">Ardan Labs</span>
                            </div>
                          </div>
                          <div class="abstract">
                            <p>If you are seasoned Go developer and have even worked on a project or two, then this class is for you. In the first part of the class you will take a deep dive into the io package of the standard library. Learn about all there is to know to effectively use the io package. In the second part of the class, we will show you a much of the Go tooling we can to help you understand and debug your programs. <br /><br /> IO Package from top to bottom<br /> pprof<br /> Benchmarking and performance<br /> Memory tracing and comparing<br /> GODEBUG<br /> go-fuzz<br /> Go execution tracer <br/><br/>  <p>
                              <strong>Teacher:</strong>TBD 
                              </p>
                           </div>
                        </div>
                      </div>
                      <div class="row schedule-item">
                        <div class="col-md-3 schedule-item-slot">
                          <span class="time">12:00pm - 1:00pm</span>
                          <span class="location">Room 503</span>
                        </div>
                        <div class="col-md-9 schedule-item-details">
                          <div class="schedule-item-summary">
                            <span class="title">Break</span>
                            <div class="speaker">
                              <span class="name">In-Room Lunch</span>
                            </div>
                          </div>
                          <div class="abstract">
                            <p>Catered lunch will be provided in the training room. Beverage service will be continuous throughout the day.</p>
                          </div>
                        </div>
                      </div>
                      <hr />
                      <div class="row">
                        <div class="col-md-3 text-right">
                          <img src="/images/temp-logos/ardan.png" width="100" />
                        </div>
                        <div class="col-md-9">
                          <p>This workshop is an advanced class on using Go. It is taught
                            by a number of renowned community members and provided by
                            <a href="https://ardanlabs.com">Ardan Labs.</a>. Tickets for this workshop can be purchased at an additional cost, and do not include admission to the main conference.</p>
                          <a href="https://ti.to/gophercon/gophercon-2016"
                          class="btn btn-orange" target="_blank">Purchase Tickets <span  class="fa fa-arrow-circle-right"></span></a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div id="building-api-schedule" class="schedule-tab schedule-item-tab tab-pane">
                      <div class="row schedule-item">
                        <div class="col-md-3 schedule-item-slot">
                          <span class="time">7:30am - 9:30am</span>
                          <span class="location">500's Corridor</span>
                        </div>
                        <div class="col-md-9 schedule-item-details">
                          <div class="schedule-item-summary">
                            <span class="title">Workshop Registration</span>
                          </div>
                        </div>
                      </div>
                      <div class="row schedule-item">
                        <div class="col-md-3 schedule-item-slot">
                          <span class="time">9:00am - 5:00pm</span>
                          <span class="location">Room 505</span>
                        </div>
                        <div class="col-md-9 schedule-item-details">
                          <div class="schedule-item-summary">
                            <span class="title">Building an HTTP-based API in Go</span>
                            <div class="speaker">
                              <span class="name">Brian Ketelsen</span>
                              <span class="designation">backplane.io</span>
                              <span class="name">Raphael Simon</span>
                              <span class="designation">Rightscale</span>
                            </div>
                          </div>
                          <div class="abstract">
                            <p>Learn the fundamentals of building, deploying, monitoring and maintaining an HTTP based API in Go. We'll start with the important lessons learned managing an API at scale and work through all the phases of API development. Then we'll use a few different methods to build a Go API, highlighting the pros and cons of each method. Finally, we'll cover deployment options, load balancing, monitoring, and API versions.</p>
                            
                            <p>
                              <strong>Teacher:</strong>Brian Ketelsen (
                              <a href="https://twitter.com/bketelsen">@bketelsen</a>)
                              <br />Brian Ketelsen is a co-author of <strong>Go in Action</strong>, and an early adopter of Go.  Brian has been using Go in production API's since 2011. 
                              He is currently at [backplane.io](https://backplane.io) as a Principal Operations Engineer.</p>
                            <p>
                              <strong>Teacher:</strong>Raphael Simon (
                              <a href="https://twitter.com/rgsimon">@rgsimon</a>)
                              <br />Raphael Simon is a Systems Architect at RightScale where he’s been designing many of the systems that make up the platform for the past 8 years.
                                Prior to that role Simon worked as a lead engineer at Eiffel Software on the Eiffel language compiler and libraries and as a principal engineer at Citrix on the GoTo line of products.
                                Simon received his MS in Computer Science and Applied Mathematics at ENSEEIHT, France.</p>
                          </div>
                        </div>
                      </div>
                      <div class="row schedule-item">
                        <div class="col-md-3 schedule-item-slot">
                          <span class="time">12:00pm - 1:00pm</span>
                          <span class="location">Room 505</span>
                        </div>
                        <div class="col-md-9 schedule-item-details">
                          <div class="schedule-item-summary">
                            <span class="title">Break</span>
                            <div class="speaker">
                              <span class="name">In-Room Lunch</span>
                            </div>
                          </div>
                          <div class="abstract">
                            <p>Catered lunch will be provided in the training room. Beverage service will be continuous throughout the day.</p>
                          </div>
                        </div>
                      </div>
                      <hr />
                      <div class="row">
                        <div class="col-md-3 text-right">
                          <img src="/images/gopheracademy-logo.png" width="100" />
                        </div>
                        <div class="col-md-9">
                          <p>This event is a highly focused workshop on using Go to deliver an HTTP based API. It is taught
                            by renowned community members and provided by
                            <a href="https://www.gopheracademy.com">Gopher Academy.</a>. Tickets for this workshop can be purchased at an additional cost, and do not include admission to the main conference.</p>
                          <a href="https://ti.to/gophercon/gophercon-2016"
                          class="btn btn-orange" target="_blank">Purchase Tickets <span  class="fa fa-arrow-circle-right"></span></a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
