
                {{ $sessions := where (where .Data.Pages "Section" "sessions") "Params.sessionscheduled" "July 12th" }}
                <div id="day2-schedule" class="tab-pane schedule-tab tab-pane-subtabs">
                  <ul class="nav nav-tabs">
                    <li role="presentation" class="active">
                      <a data-toggle="tab" href="#general-schedule-12july">General</a>
                    </li>
                    <li role="presentation" class="">
                      <a data-toggle="tab" href="#main-theater-12july">Main Theater</a>
                    </li>
                    <li role="presentation" class="">
                      <a data-toggle="tab" href="#tutorial-1-12july">Tutorial 1</a>
                    </li>
                    <li role="presentation" class="">
                      <a data-toggle="tab" href="#tutorial-2-12july">Tutorial 2</a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div id="general-schedule-12july" class="schedule-tab schedule-item-tab active tab-pane">
                      <div class="row schedule-item">
                        <div class="col-md-3 schedule-item-slot">
                          <span class="time">08:00am - 12:00pm</span>
                          <span class="location">Grand Concourse</span>
                        </div>
                        <div class="col-md-9 schedule-item-details">
                          <div class="schedule-item-summary">
                            <span class="title">Conference Registration</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="main-theater-12july" class="schedule-tab schedule-item-tab tab-pane ">
                      {{ partial "schedule/intermission.html" (dict "purpose" "Open" "sessiontime" "08:50am - 09:00am" )}}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "kowen" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}
                      {{ range $sessions }}
                        {{ if eq .Params.speaker "krandall" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ partial "schedule/intermission.html" (dict "purpose" "Break" "sessiontime" "10:00am - 10:20am" )}}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "bschaefer" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}
                      {{ range $sessions }}
                        {{ if eq .Params.speaker "rpike" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ partial "schedule/intermission.html" (dict "purpose" "Break" "sessiontime" "11:20am - 11:40am" )}}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "womuya" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}
                      {{ range $sessions }}
                        {{ if eq .Params.speaker "rfrench" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ partial "schedule/intermission.html" (dict "purpose" "Lunch" "sessiontime" "12:40pm - 01:30pm" )}}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "dberkholz" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ partial "schedule/intermission.html" (dict "purpose" "Break" "sessiontime" "02:20pm - 02:30pm" )}}

                      {{ partial "schedule/intermission.html" (dict "purpose" "Panel and Questions" "sessiontime" "02:30pm - 03:20pm" )}}

                      {{ partial "schedule/intermission.html" (dict "purpose" "Break" "sessiontime" "03:20pm - 03:30pm" )}}

                      {{ partial "schedule/intermission.html" (dict "purpose" "Lightning Talks" "sessiontime" "03:30pm - 04:30pm" )}}

                      {{ partial "schedule/intermission.html" (dict "purpose" "Conference Close" "sessiontime" "04:30pm - 05:00pm" )}}

                      {{ partial "schedule/intermission.html" (dict "purpose" "Close" "sessiontime" "05:00pm" )}}

                    </div>
                    <div id="tutorial-1-12july" class="schedule-tab schedule-item-tab tab-pane">
                      {{ range $sessions }}
                        {{ if eq .Params.speaker "fvalsorda" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ partial "schedule/intermission.html" (dict "purpose" "Break" "sessiontime" "02:20pm - 02:30pm" )}}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "bofarrell" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ partial "schedule/intermission.html" (dict "purpose" "Break" "sessiontime" "03:20pm - 03:30pm" )}}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "jlindamood" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ partial "schedule/intermission.html" (dict "purpose" "Room Closed" "sessiontime" "04:20pm" )}}
                    </div>
                    <div id="tutorial-2-12july" class="schedule-tab schedule-item-tab tab-pane">
                      {{ range $sessions }}
                        {{ if eq .Params.speaker "khightower" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ partial "schedule/intermission.html" (dict "purpose" "Break" "sessiontime" "02:20pm - 02:30pm" )}}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "egu" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ partial "schedule/intermission.html" (dict "purpose" "Break" "sessiontime" "03:20pm - 03:30pm" )}}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "jleon" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ partial "schedule/intermission.html" (dict "purpose" "Room Closed" "sessiontime" "04:20pm" )}}
                    </div>
                  </div>
                </div>
