                <div id="hackday-schedule" class="tab-pane schedule-tab schedule-item-tab">
                  <div class="row schedule-item">
                    <div class="col-md-3 schedule-item-slot">
                      <span class="time">10:00am - 5:00pm</span>
                      <span class="location">Mile High Ballroom 3-4</span>
                    </div>
                    <div class="col-md-9 schedule-item-details">
                      <div class="schedule-item-summary">
                        <span class="title">
                           Hack Day
                        </span>
                      </div>
                      <div class="abstract">
                        <p>Join all your friends in a day of loosly organized collaboration, lightning talks, and general hackery.  We'll provide the space and the wifi, you bring your favorite project and work together with friends you only get to see in person every year at GopherCon.</p>
                      </div>
                    </div>
                  </div>
                  <div class="row schedule-item">
                    <div class="col-md-3 schedule-item-slot">
                      <span class="time">10:00am - 5:00pm</span>
                      <span class="location">Room: 302</span>
                    </div>
                    <span class="title">
                      Family Crash Room
                    </span>
                  </div> 
                  <div class="row schedule-item">
                    <div class="col-md-3 schedule-item-slot">
                      <span class="time">10:00am - 10:30pm</span>
                      <span class="location">Mile High Ballroom Pre-Function</span>
                    </div>
                    <span class="title">
                      Morning Break
                    </span>
                  </div> 
                  <div class="row schedule-item">
                    <div class="col-md-3 schedule-item-slot">
                      <span class="time">10:00am - 5:00pm</span>
                      <span class="location">Room: 4a – 4b</span>
                    </div>
                    <span class="title">
                        GoBots with Hybrid Group
                    </span>
                  </div> 
                  <div class="row schedule-item">
                    <div class="col-md-3 schedule-item-slot">
                      <span class="time">10:00am - 5:00pm</span>
                      <span class="location">Room: 4c</span>
                    </div>
                    <span class="title">Docker</span>
                  </div> 
                  <!-- <div class="row schedule-item">
                    <div class="col-md-3 schedule-item-slot">
                      <span class="time">10:00am - 5:00pm</span>
                      <span class="location">Room: 4d</span>
                    </div>
                    <span class="title">Go Compiler Team</span>
                    </div>  -->
                  <div class="row schedule-item">
                    <div class="col-md-3 schedule-item-slot">
                      <span class="time">10:00am - 5:00pm</span>
                      <span class="location">Room: 4f</span>
                    </div>
                    <span class="title">Birds of a Feather</span>
                  </div> 
                  <div class="row schedule-item">
                    <div class="col-md-3 schedule-item-slot">
                      <span class="time">10:00am - 1:00pm</span>
                      <span class="location">Room: 4e</span>
                    </div>
                    <span class="title">Apcera</span>
                  </div> 
                  <div class="row schedule-item">
                    <div class="col-md-3 schedule-item-slot">
                      <span class="time">12:30pm - 1:30pm</span>
                      <span class="location">Mile High Ballroom Pre-Function</span>
                    </div>
                    <span class="title">Lunch Break</span>
                  </div> 
                  <div class="row schedule-item">
                    <div class="col-md-3 schedule-item-slot">
                      <span class="time">10:00am - 5:00pm</span>
                      <span class="location">Room: 4e</span>
                    </div>
                    <span class="title">Go Team - Go Pain Points &amp; Dependency Management Discussions</span>
                  </div> 
                  <div class="row schedule-item">
                    <div class="col-md-3 schedule-item-slot">
                      <span class="time">3:00pm - 3:30pm</span>
                      <span class="location">Mile High Ballroom Pre-Function</span>
                    </div>
                    <span class="title">Afternoon Break</span>
                  </div> 
                </div>
